@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d1f21;
  --text-primary: #eee;
  --text-secondary: #c9cacc;
  --link: #d480aa;
  --accent: #2bbc89;
  --accent2: #eee;
  --border: rgb(250 250 250 / 0.85);
  --table: rgb(29 31 33 / 0.85);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

[data-theme="light"] {
  --background: #fafafa;
  --text-primary: black;
  --text-secondary: #242424;
  --link: #567c77;
  --accent: #cc2a42;
  --accent2: #111;
  --border: grey;
  --table: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid var(--border);
  padding: 2px;
  line-height: 1rem;
}

a {
  color: var(--text-secondary);
}

a:hover {
  color: var(--accent);
}

button:hover {
  color: var(--accent);
}

.app {
  background-color: var(--background);
  color: var(--text-primary);
  transition: all 0.5s;
}

.theme-toggle i {
  font-size: 1rem;
  cursor: pointer;
  padding: 0 5px 0 5px;
}

.theme-toggle {
  padding-right: 15px;
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
